<head>
	<link rel="stylesheet" href="/css/vitamins_page.css" crossorigin="anonymous">
</head>
<body ng-app="app">
<div  ng-controller="NewUser">
	<div class="main_wrapper">
		<div class="specific_page_header">
			Sign Up!
		</div>
		<div class="generic_wrapper">
			<form method="POST" name="create_user" class="new_user_form" novalidate ng-model="create_user">
				<div><label>First Name*:</label><input type ="text" ng-model="first_name" name="first_name"class="form-control" required></input></div>
				<span class="input_error_message" ng-show="create_user.first_name.$invalid && submitted=='failed'">Must Provide First Name.</span>
				<div><label>Last Name*:</label><input type ="text" ng-model="last_name"name="last_name"class="form-control" required></input></div>
				<span class="input_error_message" ng-show="create_user.last_name.$invalid && submitted=='failed'">Must Provide Last Name.</span>
				 <div><label>Gender:</label>
					 <select name="gender" class="form-control" ng-model="gender"ng-options="gender.value as gender.label for gender in genders track by gender.value">
						<option value="">Select Gender</option> 
					 </select>
				 </div>
				 <div><label>Age:</label><input type="number" name="age" class="form-control"></input></div>
				<!--  <div><label>Street Address:</label><input type ="text" class="form-control"></input></div>
				 <div><label>City:</label><input type ="text" class="form-control"></input></div>
				 <div><label>State:</label><input type ="text" class="form-control"></input></div>
				 <div><label>Zip Code:</label><input type ="text" name ="zip" class="form-control" ng-model="zip_code" pattern="([0-9]){5,5}"
				 	title="You must enter a valid zip code if you are providing and address"></input></div>
				<div><label>Country:</label><input type ="text" class="form-control"></input></div> -->
				<div><label>Email*:</label><input type ="text"ng-model="email" name="email"class="form-control" required></input></div>
				 <span class="input_error_message" ng-show="create_user.email.$invalid && submitted=='failed'">Must Provide Email Address.</span>
				<div><label>Password*:</label><input type ="password" ng-model="password"name="password" class="form-control" required></input></div>
				 <span class="input_error_message" ng-show="create_user.password.$invalid && submitted=='failed'">Must Provide Password.</span>
				<div><label>Confirm Password*:</label><input type ="password"ng-model="confpassword" name="confpassword"class="form-control" required></input></div>
				 <span class="input_error_message" ng-show="create_user.confpassword.$invalid && submitted=='failed'">Must Provide Confirmation Password.</span>
				<input type="submit" value="Sign Up Now!" class="form-control submit_button" ng-click="signUp(create_user.$valid)">

			</form>
		</div>	
	</div>
</body>
