
/*Confirmation Page*/
#save_for_later_table td{
	border: none;
}
.custom_vitamin_divider{
	border-top: 1px dotted black;
	/*margin-bottom: 109px;*/

	padding-top: .5em;
    padding-bottom: .5em;
}
.save_for_later{
	padding:3;
}
