body{
	font-family: 'Ubuntu', sans-serif;
}
label{
	margin-right: 10px;
}
.selected_vitamins_wrapper{

}
.vitamins_table{
	width: 100%;
	margin-bottom: 70pt;
}
.vitamins_table th,td {
	text-align: center;
	padding: 5px;
}
.pricing{
	display:block;
	/*overflow:auto;*/
}
.main_wrapper{
	width:85%;
	margin-left: auto;
	margin-right: auto;
}
.generic_wrapper{
	padding: 35px 50px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    width: 100%;
}
.drop_down{
	width: 30%;
}
.same_line {
	display: inline;
}
/*Vitamin form page*/
.vitamin_form_wrapper{
	width: 35%;
	float: right;
}
.vitamin_form_input{
	margin: 1% 1% 0% 3%;
	width: 70%;
}
/*New user page*/
.new_user_form{
	width: 70%;
	margin-left: 10%;
}
.new_user_form div{
	margin: 15px;
}
.submit_button{
	width: 150px;
	margin: 20px 140px 100px 20px;
	float: right;

}
.specific_page_header{
	font-size: 20pt;
	margin-bottom: 10px;
	margin-bottom: 10px;
}