body{
	font-family: 'Ubuntu', sans-serif;
}
label{
	margin-right: 10px;
}
.selected_vitamins_wrapper{

}
.vitamins_table{
	width: 100%;
/*	margin-bottom: 70pt;
	margin-top: 40pt;*/
	/*border: 1px dotted #bbc;*/
}
.vitamins_table th,td {
	text-align: center;
	padding: 5px;
}
.vitamins_table th{
	/*border-bottom: border: 1px dotted #bbc;*/
}
.vitamins_table td{
	border: 1px dotted #bbc;
}
.table_wrapper{
	border:  1px dotted #bbc;
    margin-bottom: 70pt; 
    margin-top: 40pt; 
}
	
.pricing{
	display:block;
	/*overflow:auto;*/
}
.main_wrapper{
	width:85%;
	margin-left: auto;
	margin-right: auto;
}
.generic_wrapper{
	padding: 35px 50px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    width: 100%;
}
.drop_down{
	width: 30%;
}
.same_line {
	display: inline;
}
/*Vitamin form page*/
.vitamin_form_wrapper{
	width: 35%;
	float: right;
}
.vitamin_form_input{
	margin: 1% 1% 0% 3%;
}
/*New user page*/
.new_user_form{
	width: 70%;
	margin-left: 10%;
}
.new_user_form div{
	margin: 15px;
}
.submit_button{
	width: 150px;
	margin: 20px 140px 100px 20px;
	float: right;

}
.specific_page_header{
	font-size: 20pt;
	margin-bottom: 10px;
	margin-bottom: 10px;
}
.left_text_align{
	text-align: left;
}
.table_checkbox{
	width: 10pt;
	padding-right: 10pt;
}

.generic_table>tbody>tr>td{
	border:none;
}
.generic_table>tbody>tr>th{
	border:none;
	text-align: center;
}
.generic_table{
	border-collapse: collapse;
	padding: 5px;
	border: none;	
}
.generic_table table>tbody>td>td {
	border: none;	
}
.generic_table th{
	border: none;
}
.left_aligned_table tbody>tr>th,tbody>tr>td {
	text-align: left;
}



