<!-- views/profile.ejs -->
<head>
    <link rel="stylesheet" href="/css/vitamins_page.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/cart.css" crossorigin="anonymous">
</head>
<body ng-app="app">
<div  ng-controller="CartController"  ng-init="init('<%= JSON.stringify(vitamin_info) %>' )">
<div class="container">

    <div class="page-header text-center">
        <h1></span> Cart </h1>
    
    </div>
     <% if (message.length > 0) { %>
        <div class="alert alert-success"><%= message %></div>
    <% } %>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <form method="post" action="/handle_cart">
            <div class="well">
                <h3>Cart</h3>
                
                <table class="vitamins_table cart_table">
                    <tr>
                        <th>Vitamin </th>
                        <th> Dosage </th>
                        <th> Quantity </th>
                        <th> Price </th>
                    </tr>
                    <tbody ng-repeat="custom_vitamin in cart" class="custom_vitamin_divider">

                        <tr ng-repeat="vitamin_id in custom_vitamin.vitamin_id" >
                            <td>{{vitamins[vitamin_id].name}}</td>
                            <td>{{custom_vitamin.dosage[$index]}}{{}}</td>
                            <td ng-show="{{$last}}">  {{custom_vitamin.number_of_pills}}</td>
                            <td ng-show="{{$last}}"> {{custom_vitamin.calculated_price}}</td>
                            <td ng-show="{{$last}}">  <button type="submit" class="form-control" name="save_for_later"value="{{custom_vitamin._id}}" >Save For Later</button></td>
                            <td ng-show="{{$last}}">  <button type="submit" class="form-control" name="delete" value="{{custom_vitamin._id}}" >X</button></td>
                        </tr>
                    </tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Subtotal</td>
                        <td>{{total_price}}</td>
                    </tr>
                </table>
            </div>
            <button type="submit" class="form-control" name="checkout" value="checkout">Proceed to Checkout</button>
            <div class="well">
                <h3>Save For Later </h3>
               <table class="vitamins_table cart_table">
                    <tr>
                        <th>Vitamin </th>
                        <th> Dosage </th>
                        <th> Quantity </th>
                        <th> Price </th>
                    </tr>
                    
                        <tbody ng-repeat="custom_vitamin in save_for_later" class="custom_vitamin_divider">
                        
                            <tr ng-repeat="vitamin_id in custom_vitamin.vitamin_id" >
                            
                            <td>{{vitamins[vitamin_id].name}}</td>
                            <td>{{custom_vitamin.dosage[$index]}}{{}}</td>
                            <td ng-show="{{$last}}">  {{custom_vitamin.number_of_pills}}</td>
                            <td ng-show="{{$last}}">  {{custom_vitamin_price(custom_vitamin)}}</td>
                             <td ng-show="{{$last}}">  <button type="submit" class="form-control" name="add_to_cart" value="{{custom_vitamin._id}}" >Add To Cart</button></td>
                             <td ng-show="{{$last}}">  <button type="submit" class="form-control" name="delete" value="{{custom_vitamin._id}}" >X</button></td>
                    </tr>
                </tbody>
                </table>            
            </div>
        </form>

    </div>
</div>
</body>