<!-- views/profile.ejs -->
<head>

    <link rel="stylesheet" href="/css/cart.css" crossorigin="anonymous">
</head>
<body ng-app="app">
    <div  ng-controller="CheckoutController"  ng-init="init('<%= JSON.stringify(info) %>' )">
        <div class="container">

            <div class="page-header text-center">
                <h1> Checkout</h1>
            </div>
            <% if (message.length > 0) { %>
            <div class="alert alert-success"><%= message %></div>
            <% } %>

            <div class="row">
                <!-- LOCAL INFORMATION -->
                <div class="col-sm-12">

                    <div class="well">
                        <h3>Vitamins</h3>
                        <table class = "responsive_table generic_table table table-bordered table-hover vitamins_table" >
                            <tr class="mobile_hide">
                        <th><label class="mobile_hide">Name </label></th>
                        <th><label class="mobile_hide">Vitamins </label></th>
                        <th> <label class="mobile_hide">Dosage </label> </th>
                        <th> <label class="mobile_hide">Quantity </label> </th>
                        <th> <label class="mobile_hide">Price </label> </th>
                        <th>  </th>
                    </tr>
                            <tbody ng-repeat="custom_vitamin in custom_vitamins" class="generic_table ">
                                <tr ng-repeat="vitamin_id in custom_vitamin.vitamin_id" >
                                     <td><label class="mobile_show">Name </label><div ng-show="{{$first}}">{{custom_vitamin.name}}</div></td>
                                    <td><label class="mobile_show">Vitamin </label>{{vitamins[vitamin_id].name}}</td>
                                    <td><label class="mobile_show">Dosage </label>{{custom_vitamin.dosage[$index]}}{{}}</td>
                                    <td ng-show="{{$last}}">  <label class="mobile_show">Quantity </label> {{custom_vitamin.number_of_pills}}</td>
                                    <td ng-show="{{$last}}">
                                        <input type="hidden" name="calculated_prices" ng-value="{{custom_vitamin_price(custom_vitamin)}}">
                                        <div>  <label class="mobile_show">Price </label>${{custom_vitamin_price(custom_vitamin)}} </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="right_text_align">Subtotal</td>
                                <td class="left_text_align">${{subtotal}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="right_text_align">Tax ({{tax_percentage}}%)</td>
                                <td class="left_text_align">+${{(subtotal * (tax_percentage/100)).toFixed(2) }} </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="right_text_align"><b>Total</b></td>
                                <td class="left_text_align"><b>${{(subtotal * (1+tax_percentage/100)).toFixed(2)}} </b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" id="address_and_payment_row">
                <div class="col-sm-6">
                    <div class="well fill_height">
                        <h3>Address</h3>
                        <!-- By Default, is first address.  Need to change to make custom default -->
                        <div ng-show="current_address">
                            <div>{{current_address.street}}</div> 
                            <div>{{current_address.city}}, {{current_address.state}}</div>
                            <div>{{current_address.zip_code}}</div>
                        </div>
                        <div ng-show="changing_address">
                            <form>
                                <div ng-repeat="address in addresses">
                                    <input type="radio" name="radio_button_addresses" ng-value = "address" ng-model="$parent.current_address" >
                                    <label class="control-label">{{address.street}},{{address.city}}, {{address.state}},{{address.zip_code}} </label>
                                </div>
                                <button class="form-control"ng-click="change_address('cancel')">Cancel</button>
                                <button class="form-control"ng-click="change_address('save')">Save</button>
                            </form>
                        </div>
                        <!-- User has no addresses on file. Must add address -->
                        <div ng-show="current_address">
                            <button class="form-control"ng-click="change_address('show')">Change Address</button></br>
                        </div>
                        <button class="form-control"onclick="location.href ='/add_address?redirect_to_checkout=true'">Add Address</button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well fill_height">
                        <h3>Payment</h3>
                    </div>
                    <div class="well fill_height">
                        <h3>Submit Order</h3>
                        <form action="/submit_order" method="post" name="order">
                            <input type="hidden" name="address_id" value="{{current_address._id}}">
                             <input type="hidden" name="custom_vitamins" value="{{custom_vitamins}}">
                             <input type="hidden" name="price" value="{{(subtotal * (1+tax_percentage/100)).toFixed(2)}}">
                            <button type="submit" class="form-control">Submit</button>
                        </form>
                    </div>
                </div>
            </div> 
        </div> 
    </div>  
</body>