<head>
     
</head>
<body>


<div class="col-sm-6 col-sm-offset-3">

    <h1>Create Vitamin</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-success"><%= message %></div>
    <% } %>
    Note there is no authenitcation. Make sure the info you provide is fully formed and valid and it
    does not already exist in the database.
    <form action="/create_vitamin" method="post", name="vitamin">
        <div class="form-group">
            <label>Vitamin Name</label>
            <input type="text" class="form-control"  placeholder="Ex: Vitamin A" name="name">
        </div>
        <div class="form-group">
            <label>Decscription</label>
            <input type="text" class="form-control"  placeholder="String"name="description">
        </div>
        <div class="form-group">
            <label>Price Per Unit</label>
            <input type="text" class="form-control" placeholder="Float Value" name="price_per_unit">
        </div>
        <div class="form-group">
            <label>Dose range</label>
            <input type="text" class="form-control" placeholder="Comma seperated floats" name="dose_range">
        </div>
        <div class="form-group">
            <label>Times Per Day</label>
            <input type="number" class="form-control" placeholder="Int" name="times_per_day">
        </div>
        <div class="form-group">
            <label>Unit Type</label>
            <input type="text" class="form-control" placeholder="Ex: mg" name="units">
        </div>


        <button type="submit" class="btn btn-warning btn-lg">Create Vitamin</button>
    </form>

</div>
</body>