<head>
	<link rel="stylesheet" href="/css/vitamins_page.css" crossorigin="anonymous">
</head>
<body ng-app="app">
<div  ng-controller="OrdersController"  ng-init="init('<%= JSON.stringify(info) %>')">
	<div class="container">

    <div class="page-header text-center">
        <h1></span> Previous Orders </h1>
    </div>
     <% if (message.length > 0) { %>
        <div class="alert alert-success"><%= message %></div>
    <% } %>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12">
            <form method="post" action="">
            <div class="well">
                <h3>Orders</h3>
                
                <table class = "responsive_table generic_table table table-bordered table-hover vitamins_table" >
                    <tr class="mobile_hide">
                        <th><label class="mobile_hide">Order Date </label></th>
                        <th><label class="mobile_hide">Vitamins </label></th>
                        <th> <label class="mobile_hide">Dosage </label> </th>
                        <th> <label class="mobile_hide">Quantity </label> </th>
                        <th> <label class="mobile_hide">Price </label> </th>
                    </tr>
                    <tbody ng-repeat="order in orders" class ="generic_table">
						<!-- <td>{{custom_vitamin.name}}</td> -->
						<tr>
							<td>{{order.time_ordered}}</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
                    	<tr ng-repeat="custom_vitamin in order.custom_vitamins">
                    		
                    	</tr>
                	<!-- 	<tr ng-repeat="vitamin_id in custom_vitamin.vitamin_id">
                		</tr> -->


                 
                        <!-- <tr ng-repeat="vitamin_id in custom_vitamin.vitamin_id">
                            <td><div ng-show="{{$first}}"><label class="mobile_show">Name </label>{{custom_vitamin.name}}</div></td>
                            <td><label class="mobile_show">Vitamin </label>{{custom_vitamin.vitamin_names[$index]}}</td>
                            <td><label class="mobile_show">Dosage </label>{{custom_vitamin.dosage[$index]}}{{}}</td>
                            <td ng-show="{{$last}}"><label class="mobile_show">Quantity </label>  {{custom_vitamin.number_of_pills}}</td>
                            <td ng-show="{{$last}}"> <label class="mobile_show">Price </label>${{custom_vitamin.calculated_price}}</td>
                            <td ng-show="{{$last}}"class="save_for_later_or_delete"  >  
                                    <button type="submit" class="form-control" name="save_for_later"value="{{custom_vitamin.cart_item_id}}" >Save For Later</button>
                                    <button type="submit" class="form-control" name="delete" value="{{custom_vitamin.cart_item_id}}" >X</button>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
            </div>
        </form>
    </div>
</div>
</body>