<!-- views/profile.ejs -->
<head>
     
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1></span> Profile Page</h1>
    </div>
     <% if (message.length > 0) { %>
        <div class="alert alert-success"><%= message %></div>
    <% } %>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                    <p>
                        <strong>Name</strong>: <%= user.first_name + " " + user.last_name %><br>
                        <strong>Email</strong>: <%= user.email %>
                    </p>

            </div>
        </div>
        

    </div>
</div>
</body>